<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="badmin_application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="ch.form105.shuttle.ui.application.ShuttleApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ch.form105.shuttle.ui.application.Perspective"
            id="ShuttleUI.perspective"
            name="Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="ch.form105.shuttle.ui.view.player.ImportPlayerView"
            icon="image/player.gif"
            id="ShuttleUI.PlayerView"
            name="PlayerView">
      </view>
      <view
            class="ch.form105.shuttle.ui.view.club.ImportClubView"
            icon="image/club.gif"
            id="ShuttleUI.ClubView"
            name="ClubView"/>
      <view
            allowMultiple="false"
            class="ch.form105.shuttle.ui.view.project.ProjectView"
            id="ShuttleUI.ProjectView"
            name="%project.tournament.root"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="ShuttleUI.ProjectViewContribution"
            targetID="ShuttleUI.ProjectView">
         <action
               class="ch.form105.shuttle.ui.action.NewProjectAction"
               icon="image/list-add.png"
               id="ShuttleUI.NewProject"
               label="%projectView.contextMenu.newProject"
               menubarPath="group1"
               />
      </viewerContribution>
      <objectContribution
            adaptable="false"
            id="ShuttleUI.projectContribution"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="ch.form105.shuttle.ui.action.DeleteProjectAction"
               icon="image/list-remove.png"
               id="ShuttleUI.action1"
               label="Delete Project"
               menubarPath="group1"/>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="ShuttleUI.perspective">
         <newWizardShortcut id="ShuttleUI.newProjectWizard"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="ch.form105.shuttle.ui.view.project.wizard.NewProjectWizard"
            id="ShuttleUI.newProjectWizard"
            name="MyWizard"/>
   </extension>

</plugin>
