<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="badmin_application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="ch.form105.shuttle.ui.application.ShuttleApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ch.form105.shuttle.ui.application.Perspective"
            id="ShuttleUI.perspective"
            name="Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="PlayerView"
            class="ch.form105.shuttle.ui.view.player.ImportPlayerView"
            id="ShuttleUI.PlayerView">
      </view>
      <view
            allowMultiple="false"
            class="ch.form105.shuttle.ui.view.project.ProjectView"
            id="ShuttleUI.ProjectView"
            name="%project.tournament.root"/>
   </extension>

</plugin>
